<template>
  <div class="content h-full w-full pl-12 py-12 pr-8 overflow-scroll">
    <div class="wallet-list w-full h-[200px] ">
      <div class="font-semibold mb-8">Wallets</div>
      <div class="wallets flex flex-row flex-wrap ">
        <Wallet active />
        <wallet />
        <div
          class="
            wallet
            cursor-pointer
            flex
            h-[100px]
            justify-center
            bg-white
            mr-8
            mb-8
            items-center
            rounded-2xl
            text-light-gray
            p-4
            w-[272px]
          "
        >
          + Add Currency
        </div>
      </div>
    </div>
    <!-- <p-button text="Button" main default />
    <PInput title="Title" error err="error" />
    <PTag text="Security" actived />
    <PTooltip
      text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, ipsa deserunt architect"
      dark = "true"
    />
    <PToggle></PToggle>
    <QuestionBtn dark></QuestionBtn> -->
    <div class="contracts mt-32">
      <div class="font-semibold mb-4">My investment contracts</div>
      <div class="wallet-list flex flex-row flex-wrap">
        <Contract
          actived
          number="1"
          percent="50"
          invested="1500"
          expected="2000"
          durations="{ start: '1', end: '2' }"
        />

        <Contract
          number="1"
          percent="50"
          invested="1500"
          expected="2000"
          durations="{ start: '1', end: '2' }"
        />
        <Contract
          number="1"
          percent="50"
          invested="1500"
          expected="2000"
          durations="{ start: '1', end: '2' }"
        />
        <Contract
          number="1"
          percent="50"
          invested="1500"
          expected="2000"
          durations="{ start: '1', end: '2' }"
        /><Contract
          number="1"
          percent="50"
          invested="1500"
          expected="2000"
          durations="{ start: '1', end: '2' }"
        />
        <Contract
          number="1"
          percent="50"
          invested="1500"
          expected="2000"
          durations="{ start: '1', end: '2' }"
        />
        <Contract
          number="1"
          percent="50"
          invested="1500"
          expected="2000"
          durations="{ start: '1', end: '2' }"
        />



        <div
          class="
            bg-white
            contract
            cursor-pointer
            flex flex-col
            justify-center
            items-center
            mr-8
            rounded-2xl
            p-8
            text-light-gray
            w-[270px]
            h-[304px]
          "
        >
          Do you want invest?
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import Wallet from "@/components/wallet.vue";
import Contract from "@/components/contract.vue";
import PButton from "@/components/PButton.vue";
import PInput from "@/components/PInput.vue";
import PTag from "@/components/PTag.vue";
import QuestionBtn from "@/components/PQuestion.vue";
import PTooltip from "@/components/PTooltip.vue";
import PToggle from "@/components/PToggle.vue";
</script>