<template>
  <div class="left-side-bar h-full w-[240px] bg-my-dark">
    <div class="p-16">
      <img class="w-full" src="@/assets/logo.png" alt="" />
    </div>
    <div
      class="
        list-container
        flex flex-col
        h-[80%]
        justify-between
        text-lg text-light
      "
    >
      <div class="nav-list">
        <nav-item
          :class="{
            'border-l-2 border-green-light text-green-light':
              route.path === '/dashboard',
          }"
          title="Dashboard"
          to="dashboard"
        > <home-filled /> </nav-item>
        <nav-item
          :class="{
            'border-l-2 border-green-light text-green-light':
              route.path === '/wallets',
          }"
          title="Wallets"
          to="wallets"
        > <wallet-outlined /> </nav-item>
        <nav-item
          :class="{
            'border-l-2 border-green-light text-green-light':
              route.path === '/transactions',
          }"
          title="Transactions"
          to="transactions"
        > <sync-outlined /> </nav-item>
        <nav-item
          :class="{
            'border-l-2 border-green-light text-green-light':
              route.path === '/buypec',
          }"
          title="Buy PEC"
          to="buypec"
        > <upload-outlined /> </nav-item>
        <nav-item
          :class="{
            'border-l-2 border-green-light text-green-light':
              route.path === '/sellpec',
          }"
          title="Sell PEC"
          to="sellpec"
        > <download-outlined /> </nav-item>
        <nav-item
          :class="{
            'border-l-2 border-green-light text-green-light':
              route.path === '/eip',
          }"
          title="EIP"
          to="eip"
        > <line-chart-outlined /> </nav-item>
        <nav-item
          :class="{
            'border-l-2 border-green-light text-green-light':
              route.path === '/verification',
          }"
          title="Verification"
          to="verification"
        > <file-done-outlined /> </nav-item>
      </div>

      <div class="setting-list">
        <nav-item
          :class="{
            'border-l-2 border-green-light text-green-light':
              route.path === '/training',
          }"
          title="Training"
          to="training"
        > <book-outlined /> </nav-item>
        <nav-item
          :class="{
            'border-l-2 border-green-light text-green-light':
              route.path === '/reporting',
          }"
          title="Reporting"
          to="reporting"
        > <file-text-outlined /> </nav-item>
        <nav-item
          :class="{
            'border-l-2 border-green-light text-green-light':
              route.path === '/settings',
          }"
          title="Settings"
          to="settings"
        > <setting-outlined /> </nav-item>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import NavItem from "./NavItem.vue";
import { HomeFilled, WalletOutlined, SyncOutlined, StockOutlined, UploadOutlined, DownloadOutlined, FileDoneOutlined, LineChartOutlined, SettingOutlined, FileTextOutlined, BookOutlined } from "@ant-design/icons-vue"
import { useRoute } from "vue-router";

const route = useRoute();
</script>

<style>
</style>