<template>
  <div class="item px-8 py-2 cursor-pointer">
    <router-link :to="props.to" class=" flex flex-row items-center ">
      <slot></slot>
      <label class="cursor-pointer ml-4">{{props.title}}</label>
    </router-link>
  </div>
</template>

<script setup lang="ts">
    const props = defineProps<{to: any, title: string}>()
</script>

<style>
</style>