<template>
  <div class="content h-full w-full p-12 overflow-scroll">
    <div class="contracts">
      <div class="font-semibold mb-4">My investment contracts</div>
      <div class="wallet-list flex flex-row flex-wrap">
        <Contract
          actived
          number="1"
          percent="50"
          invested="1500"
          expected="2000"
          durations="{ start: '1', end: '2' }"
        />

        <Contract
        
          number="1"
          percent="50"
          invested="1500"
          expected="2000"
          durations="{ start: '1', end: '2' }"
        />
        <Contract
          number="1"
          percent="50"
          invested="1500"
          expected="2000"
          durations="{ start: '1', end: '2' }"
        />
        <Contract
          number="1"
          percent="50"
          invested="1500"
          expected="2000"
          durations="{ start: '1', end: '2' }"
        /><Contract
          number="1"
          percent="50"
          invested="1500"
          expected="2000"
          durations="{ start: '1', end: '2' }"
        />
        <Contract
          number="1"
          percent="50"
          invested="1500"
          expected="2000"
          durations="{ start: '1', end: '2' }"
        />
        <Contract
          number="1"
          percent="50"
          invested="1500"
          expected="2000"
          durations="{ start: '1', end: '2' }"
        />
        <div
          class="
            bg-white
            contract
            cursor-pointer
            flex flex-col
            justify-center
            items-center
            mr-8
            rounded-2xl
            p-8
            text-light-gray
            w-[270px]
            h-[304px]
          "
        >
          Do you want invest?
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import Contract from "@/components/contract.vue";
</script>