<template>
  <div
    class="
      contract
      flex flex-col
      justify-between
      items-center
      mr-8
      mb-8
      rounded-2xl
      p-8
      h-[304px]
      w-[270px]
    "
    :class="{
      'bg-my-dark text-white': props.actived,
      'bg-white': !props.actived,
    }"
  >
    <div class="contract-number text-base font-semibold">
      Investment contract {{ props.number }}
    </div>
    <div class="contract-durations text-gray-500 text-sm mb-4">
      Durations: {{ props.durations.start }} - {{ props.durations.end }}
    </div>
    <div class="contract-percent text-xl font-bold">{{ props.percent }}%</div>
    <div class="contract-status text-gray-500 text-sm mb-4">In progress</div>
    <div class="contract-invest-expect flex text-base text-xl font-semibold">
      <div class="contract-invest mr-2">{{ props.invested }}</div>
      <rise-outlined class="text-green-light" />
      <div class="contract-expect text-light-green ml-2">
        {{ props.expected }}
      </div>
    </div>
    <div class="contract-more mt-8 text-gray-500 flex items-center">
      More-detail <down-outlined class="ml-2" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { RiseOutlined, DownOutlined } from "@ant-design/icons-vue";

interface Props {
  actived: boolean;
  number: string;
  durations: any;
  percent: string;
  invested: string;
  expected: string;
}
const props = withDefaults(defineProps<Props>(), {
  actived: false,
});
</script>

<style>
</style>