<template>
   <div className="input-container">
            <label htmlFor="" :class = "{'text-gray': props.disabled}">
                {{props.title}}
            </label>
            <input type="text" class= 'PButton flex items-center bg-transparent justify-center outline-0 rounded-xl p-4 w-[250px] h-[45px]'
            :class="
            {
                'border border-gray text-gray': props.default,
                'border border-gray-500 text-black': props.full,
                'border border-red text-red': props.error,
                'border border-gray bg-disabled text-gray': props.disabled,

            }"
          />
          <label v-if="props.error" class="text-red">{{props.err}}</label>
        </div>
</template>

<script setup lang="ts">
    const props = defineProps({default: Boolean,
        full: Boolean,
        error: Boolean,
        disabled: Boolean,
        title: String,
        err: String,
    })
</script>

<style>
</style>