<template>
  <div
    class="
      question-btn
      text-white
      rounded-full
      h-[60px]
      w-[60px]
      p-4
      text-3xl
      font-light
      items-center
      justify-center
      flex
    "
    :class="{
      'bg-my-dark': props.dark,
      'bg-gray': !props.dark,
    }"
  >
    ?
  </div>
</template>

<script setup lang="ts">
    const props = defineProps({dark: Boolean})
</script>

<style>
</style>