<template>
  <div class='tag border-b-2 flex items-center justify-center p-2 w-[120px]'
        :class="
        {
            'border-gray': !props.actived,
            'border-green-light text-green-light': props.actived,
        }"
        >
            {{props.text}}
        </div>
</template>

<script setup lang="ts">
    const props = defineProps({
        actived: Boolean,
        text: String,
    })
</script>

<style>

</style>