<template>
  <label class="toggle inline-flex relative items-center mr-5 cursor-pointer">
            <input type="checkbox" value="" id="green-toggle" class="sr-only peer" />
            <div class="w-11 h-6 border border-light-gray rounded-full peer dark:bg-gray-700
             dark:peer-focus:ring-green-light peer-checked:after:translate-x-full 
            peer-checked:after:bg-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] 
            after:bg-light-gray after:border-gray-300 after:rounded-full after:h-5 after:w-5 after:transition-all 
            dark:border-gray-600 peer-checked:bg-green-light"></div>
        </label>
</template>

<script setup lang="ts">

</script>

<style>

</style>