<template>
  <div
    class="
      tooltip
      relative
      rounded-2xl
      flex
      items-center
      justify-center
      p-2
      w-[320px]
      h-[130px]
    "
    :class="{
      'bg-white': !props.dark,
      'bg-my-dark text-white': props.dark,
    }"
  >
  <star-filled class="text-5xl m-4"/>
    <p>
      {{ props.text }}
    </p>
  </div>
</template>

<script setup lang="ts">
  import { StarFilled } from '@ant-design/icons-vue';

const props = defineProps({
  dark: Boolean,
  text: String,
});
</script>

<style>
.tooltip::before {
  content: " ";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid transparent;
  border-bottom-color: #12202D;
  top: -30px;
}
</style>