<template>
  <div
    class="
      wallet
      flex
      justify-between
      mr-8
      mb-8
      rounded-2xl
      p-4
      h-[100px]
      w-[272px]
    "
    :class="{
      'bg-green-light text-white': props.active,
      'bg-white': !props.active,
    }"
  >
    <div class="wallet-coin self-center">
      <!-- <IconCrypto coinname="ETH" color="color" format="svg" /> -->
    </div>
    <div class="wallet-info self-center">
      <span class="text-sm block text-gray-700 mb-2">Total earning value</span>
      <p class="text-base inline font-semibold mr-2">38,569.00</p>
      <span class="text-sm text-gray-400 inline">PEC</span>
    </div>
    <div class="wallet-more text-xl">
      <more-outlined />
    </div>
  </div>
</template>

<script setup lang="ts">
import { MoreOutlined } from "@ant-design/icons-vue";
interface Props {
  active?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  active: false,
});
</script>

<style>
</style>