<template>
  <div class="right-side-bar justify-self-end pr-12 py-8">
    <div class="flex flex-col bg-white w-[296px] h-full container rounded-2xl">
      <div class="info-container flex w-full px-4 py-4 items-center">
        <bell-outlined class="text-2xl" />
        <div class="infor-user pl-4">
          <p class="name text-lg">Name</p>
          <p class="email text-gray-500 text-sm">Email</p>
        </div>
      </div>
      <div class="deposit px-4 py-4 mt-4 mb-16">
        <span class="font-semibold">Deposits of investors</span>
        <div class="flex justify-between text-sm text-gray-400 mt-4 mb-2">
          <span>L1</span>
          <div class="">
            <span>1291/</span> <span class="text-light-green">2000 EUR</span>
          </div>
          <span class="text-light-green">L2</span>
        </div>
        <div
          class="percent flex bg-regal-gray h-[40px] rounded-2xl items-center"
        >
          <!-- {/* <span class="font-semibold z-100 w-full">60%</span> */} -->
          <div
            class="percentage bg-green-light z-1 w-[60%] h-full rounded-2xl"
          ></div>
        </div>
      </div>
      <div class="pec">
        <span class="ml-4 font-semibold">Your SPEC progress</span>
        <div class="spec-total bg-little-green m-4 rounded-2xl py-4 pl-4">
          <span class="text-sm block text-gray-700 mb-2">Total PEC</span>
          <p class="text-base inline font-semibold">38,569.00</p>
          <span class="text-sm text-gray-400 inline">PEC</span>
        </div>
        <div class="spec-total-invest bg-little-blue m-4 rounded-2xl py-4 pl-4">
          <span class="text-sm block text-gray-700 mb-2"
            >Total on the investments</span
          >
          <p class="text-base inline font-semibold">38,569.00</p>
          <span class="text-sm text-gray-400 inline">PEC</span>
        </div>
        <div class="spec-total-profit bg-regal-gray m-4 rounded-2xl py-4 pl-4">
          <span class="text-sm block text-gray-700 mb-2"
            >Total future profit</span
          >
          <p class="text-base inline font-semibold">38,569.00</p>
          <span class="text-sm text-gray-400 inline">PEC</span>
        </div>
        <div
          class="spec-total-earning bg-little-gray m-4 rounded-2xl py-4 pl-4"
        >
          <span class="text-sm block text-gray-700 mb-2"
            >Total earning value</span
          >
          <p class="text-base inline font-semibold">38,569.00</p>
          <span class="text-sm text-gray-400 inline">PEC</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
    import { BellOutlined } from "@ant-design/icons-vue"

</script>

<style>
</style>