<script lang="ts">
  import { defineComponent } from "vue";
  import DefaultLayout from "@/layouts/default/index.vue"

export default defineComponent({
  components: {
   DefaultLayout
  },
  data() {
    return {
      layout: "default-layout",
    };
  },
  setup() {
    
  },
});
</script>

<template>
  <router-view></router-view>
</template>

<style scoped>
</style>