<template>
  <div class="content h-full w-full p-12 overflow-scroll">
    <div class="wallet-list w-full h-[200px]">
      <div class="font-semibold mb-8">Wallets</div>
      <div class="wallets flex flex-row flex-wrap">
        <Wallet active />
        <wallet />
        <wallet />
        <wallet />
        <wallet />
        <wallet />
        <wallet />
        <wallet />
        <wallet />
        <wallet />
        <wallet />
        <wallet />
        <wallet />
        <div
          class="
            wallet
            cursor-pointer
            flex
            h-[100px]
            justify-center
            bg-white
            mr-8
            mb-8
            items-center
            rounded-2xl
            text-light-gray
            p-4
            w-[272px]
          "
        >
          + Add Currency
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import Wallet from "@/components/wallet.vue";
</script>

<style>
</style>