<template>
  <div class="flex flex-row h-full w-full">
  <left-side-bar />
  <div class="content w-[80%]">
    <router-view></router-view>
  </div>
  <right-side-bar />
  </div>
</template>

<script setup lang="ts">
  import LeftSideBar from "./components/Sidebar/LeftSideBar.vue";
  import RightSideBar from "./components/RightSidebar/index.vue";
</script>

<style>
  #app {
    height: 100%
  }
</style>